.top-bar {
  background-color: $top-bar-color;

  ul {
    background-color: $top-bar-color;
  }

  li a {
    color: $text-menu-color;
  }

  .active-link {
    color: $active-link;
    font-weight: bold;
  }

  .menu-text {
    color: $top-bar-menu-text;

    .menu-text-name {
      color: $active-link;
    }
  }
}
