// Color scheme
$dark-blue: #193441;
$light-blue: #3e606f;
$light-green-blue: #91aa9d;
$light-green: #d1dbbd;
$white-green: #fcfff5;

// Top Bar, menu and menu texts colors
$top-bar-color: $dark-blue;
$text-menu-color: $white-green;
$top-bar-menu-text: $light-green-blue;
$active-link: $light-green;
